.grid{
  display:grid ;
  grid-template-columns: repeat(3,1fr);
  width: 600px;
}
h1{
  display: flex;
  justify-content: center;
}
img{
  height: 141px;
  width: 200.63px;
}
.main{
  display: flex;
}
.final-score-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 9999;
  text-align: center;
}

.final-score-overlay h2 {
  font-size: 2rem;
  margin: 0;
}
